header {
  font-family: Impact;
  text-align: center;
  font-size: 56px;
  color: green;
  background-color: white;
}
footer {
  background-color: white;
  text-align: center;
  color: green;
  font-size: 24px;
}
body {
  background-color: goldenrod;
}
.class:hover {
  outline: gray;
}
p {
  font-size: 36px;
  font-family: Verdana;
}
img {
  max-width: 3330px;
  max-height: 333px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 1080px) {
}
.HomeImages {
  text-align: center;
}
p {
  font-family: "Times New Roman";
}
li {
  list-style: none;
  text-align: center;
  font-size: 24px;
}
.closeout {
  text-align: center;
}
