header {
  font-family: Impact;
  text-align: center;
  font-size: 56px;
  color: green;
  background-color: white;
}
footer {
  background-color: white;
  text-align: center;
  color: green;
  font-size: 24px;
}
body {
  background-color: goldenrod;
}
.class:hover {
  outline: gray;
}
p {
  font-size: 24px;
  font-family: Verdana;
}
img {
  max-width: 3330px;
  max-height: 333px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 1080px) {
}
.HomeImages {
  text-align: center;
}

li {
  list-style: none;
  text-align: center;
  font-size: 24px;
}
.closeout {
  text-align: center;
}
.PodcastImage {
  max-width: 3330px;
  max-height: 375px;
  justify-content: center;
}
#RPH {
  font-size: 36px;
  font-family: Verdana;
}
.logo {
  max-width: 1500px;
}
.nice {
  justify-content: center;
}
.trailer {
  float: right;
}
.t2 {
  float: left;
}
.fas_fa-bars:hover {
  outline: gray;
}
