html {
  margin: 5vw;
}
header {
  font-family: Impact;
  text-align: center;
  font-size: 56px;
  color: green;
  background-color: white;
}
footer {
  background-color: white;
  text-align: center;
  color: green;
  font-size: 24px;
  background-image: image();
}
body {
  background-color: goldenrod;
}
.class:hover {
  outline: gray;
}
p {
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}

img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  align-items: center;
  height: auto;
  margin: auto;
  padding-bottom: 2vh;
}
@media (min-width: 375px) and (max-width: 1080px) {
}
#Hometitle {
  text-align: center;
  font-size: 36px;
  font-family: Impact;
  font-style: italic;
}

h1 {
  text-align: center;
  text-align: center;
  font-style: italic;
  font-family: Impact;
  font-size: 36px;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
  text-align: center;
  font-style: italic;
  font-family: Impact;
  font-size: 36px;
}

#formbox {
  display: flexbox;

  text-align: center;
}
.divider {
  background-color: white;
}
li {
  list-style: none;
  text-align: center;
  font-size: 24px;
}
.closeout {
  text-align: center;
}
.PodcastImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  align-items: center;
  height: auto;
  margin: auto;
  padding-bottom: 2vh;
}
.black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  align-items: center;
  height: auto;
  margin: auto;
  padding-bottom: 2vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#RPH {
  font-size: 36px;
  font-family: Verdana;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  align-items: center;
  height: auto;
  margin: auto;
  padding-bottom: 2vh;
}
#logos {
  text-align: center;
  font-style: italic;
  font-family: Impact;
}
.nice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  align-items: center;
  height: auto;
  margin: auto;
  padding-bottom: 2vh;
}
.trailer {
  width: 35vw;
  padding-top: 2vh;
}
.t2 {
  display: flex;
  flex-direction: row;
  float: right;
  width: 35vw;
  padding-bottom: 2vh;
}
.fas_fa-bars:hover {
  outline: gray;
}
.pp2 {
  float: right;
  width: 50vw;
}
.crown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  align-items: center;
  height: auto;
  margin: auto;
  padding-bottom: 2vh;
}

.sole {
  display: flex;
  font-size: 26px;
  font-family: fantasy;
}
.shoes {
  float: right;
  width: 35vw;
  height: auto;
}
/*--------Slide Animation-----*/

.carousel {
  -webkit-animation: 1.5s fade;
  animation: 1.5s fade;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  align-items: center;
  height: auto;
  margin: auto;
  padding-bottom: 2vh;
}

#shirts {
  font-size: 24px;
  font-family: Impact;
  overflow-y: scroll;
  max-height: 30vh;
  max-width: 75vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#table {
  width: 85vw;
}
th,
td {
  border-bottom: 2px solid green;
}

input {
  width: auto;
  padding-left: 2px;
}
.tableheader {
  position: sticky;
  top: 0;
  color: whitesmoke;
  -webkit-text-stroke: 2px black;
}
#form {
  font-family: fantasy;
}
